# Environment creation
virtualenv vedaenv
virtualenv
pipenv

# Python libraries
numpy
pandas
scipy
scikit-learn

# Llama 3.2 libraries
llama==3.2

# Data science libraries
matplotlib
seaborn
statsmodels

# Translation libraries
googletrans==4.0.0-rc1
translate

# Visualization libraries
plotly
bokeh